{% extends 'home/base.html' %}
{% block header %}
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">    
    <h1 class="fw-bolder">Bienvenido a mi sitio web</h1>
    <p class="lead mb-0">Un gusto, me presento:</p>         
</div>
{% endblock header %}
{% block content %}
<div class="container p-3 p-md-3 rounded border border-black bg-light mb-3">
    <h1>Soy Marcos Villardi</h1>
    <p>Un apasionado del desarrollo web backend, me encanta crear páginas web atractivas, funcionales y fáciles de usar.</p>
    <p>Tengo 19 años, he adquirido experiencias base en distintos lenguajes, como Python, HTML, CSS y frameworks como Bootstrap.</p>
    <p>Este proyecto es una prueba de mis conocimientos actuales y habilidades, espero que cumpla tus expectativas.</p>
    <p>Si estás buscando crear una página web para tu negocio, proyecto personal o cualquier otra necesidad, estaré encantado de ayudarte.</p>
    <p>No dudes en contactarme para discutir tus ideas y comenzar a trabajar juntos en la creación de una página web única y efectiva.</p>
    <ul>
        <li>mi <a class="btn btn-info" href="https://wa.me/5491173676945">WhatsApp</a></li>
        <li>mi email <b>villardimarcos@gmail</b></li>
    </ul>
</div>
{% endblock content %}
